/* all app scss styles here */

$easeOutExpo   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInExpo    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutExpo : cubic-bezier(1.000, 0.000, 0.000, 1.000);

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

@keyframes Floatingk{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

body, html{
	height: 100%;
	font-family: "Raleway";
	background-color: #f5f2e9;
}

body.modal-open{
	overflow: hidden;
}

h3{
	font-family: "Playfair Display";
}

h2,
h4{
	font-family: "Raleway";
}

h2{
	font-weight: 700;
}

.button{
	&.clear{
		background-color: transparent;
		border: 1px solid $primary-color;
	}
}

nav.bar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;



	transform: translate3d(0, rem-calc(44px), 0);
	-webkit-transform: translate3d(0, rem-calc(44px), 0);

	 opacity: 0;
	transition: all .5s $easeOutExpo;
	-webkit-transition: all 1s $easeOutExpo;
	

	height: rem-calc(44px);
	line-height: rem-calc(44px);
	background-color: #fdfcf7;

	@media #{$large-up}{
		bottom: none;
		top: 0;
		transform: translate3d(0, -5rem, 0);
		-webkit-transform: translate3d(0, -5rem, 0);
		opacity: 0;
		background-color: #fff;
		line-height: 5em;
		height: 5em;

		strong{
			font-size: 1.4em;
			font-weight: normal;
		}

		.desktop-menu-button{
			display: block;
			position: absolute;
			font-size: 2em!important;
			left: 50%;
			margin-left: -.5em;
			top: .7em;
			z-index: 8;
			color: $green;
		}

		.info,
		.info .fa{
			text-transform: uppercase;
			color: #404040;
		}

	}

	strong{
		font-family: "Playfair Display";
	}

	&.headroom--pinned,
	&.scrolled{
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
	}

	// &.headroom--unpinned{
	// 	transform: translate3d(0, rem-calc(44px), 0);
	// }

	// &.headroom--top{
	// 	opacity: 0;
	// }

	&.headroom-not-top,
	&.visible{
		opacity: 1;
	}

	.fa{
		margin-right: 10px;
		font-size: rem-calc(18px);
	}
}

// THIS IS FOR POST MODAL OPEN AWESOME SAUCE //

.reveal-modal{

	&.job{
		.modal-bar .control,
		.close-button{
			display: block;
			width: 33%!important;
		}
	}

	.modal-bar{

		.control{
			display: none;
		}

		.close-button{
			width: 100%;
		}

		.fa{
			opacity: 0;
			transition: all .3s linear;
		}

		.fa-times{
			transform: rotate(-90deg);
		}

		.fa-arrow-left{
			transform: translateX(12px);
		}

		.fa-arrow-right{
			transform: translateX(-12px);
		}

	}

	.job-desc.columns{
		> * {
			transform: translateY(-1em);
			opacity: 0;
		}
	}
	.aux{
		opacity: 0;
		transform: translateY(rem-calc(-44px));
		transition: all 1s $easeOutExpo;
		transition-delay: .8s;
	}

	&.in{

		.aux{
			opacity: 1;
			transform: translateY(0);
		}

		li{
			transform: translateY(0);
			opacity: 1;
			
			@for $i from 0 through 7 {
				&:nth-child(#{$i}){
					transition-delay: .1s + ($i / 20);
				}
			}
		}

		.modal-bar{
			.fa{
				opacity: 1;
			}
			
			.fa-times{
				transform: rotate(0deg);
			}

			.fa-arrow-left,
			.fa-arrow-right{
				transform: translateX(0);
			}
		}
	}
}

// END AWESOME CONTINUE MORE AWESOME //



nav.menu{
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
	background-color: #404040;
	visibility: visible;

	transition: all .5s $easeOutExpo;

	ul{
		padding-top: rem-calc(44px);

		@media #{$large-up}{
			padding-top: rem-calc(88px);
		}

		li{
			font-family: "Playfair Display";
			font-size: 2em;
			border-bottom: 1px solid #505050;
			padding-top: .5em;
			font-style: italic;
			transform: translateY(-1em);
			transition: all .3s $easeOutExpo;
			opacity: 0;

			a{
				color: #ddd;
				display: inline-block;
				background-color: #505050;
				padding: 0 3px;
			}
		}
	}

	@media #{$large-up}{
		 .aux{
		 	color: #fff;
		 	text-align: center;
		 	padding-top: rem-calc(88px);

		 	h1{
		 		font-family: "Playfair Display";
		 		color: #fff;
		 		font-size: rem-calc(68px);
		 		line-height: 1;
		 		text-transform: uppercase;
		 	}

		 	p em{
		 		font-family: "Playfair Display";
		 	}
		 }
	}

	footer{
		color: #fff;
		line-height: 32px;

		.fa{
			display: inline-block;
			background-color: $green;
			width: 32px;
			height: 32px;
			margin-right: 10px;
			line-height: 32px;
			text-align: center;
			color: #404040;
		}
	}

	&.hidden{
		transform: scale(.9);
		opacity: 0;
		visibility: hidden;
	}

	&.visible-add{
		transform: scale(0.9);
		opacity: 0;
	}

	&.visible-add-active{
		transform: scale(1);
		opacity: 1;
	}

	&.visible-remove{
		transform: scale(0.9);
		opacity: 1;

		&.visible-remove-active{
			transform: scale(1);
			opacity: 0;
		}
	}

	&.visible-add-active{

	}
}

.reveal-modal{
	display: table;
	position: fixed;
	background-color: #fff;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	.scroll{
		overflow: auto;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		padding-top: rem-calc(44px);
	}

	.modal-bar{
	display: block;
	width: 100%;

	position: fixed;

	z-index: 9999;
	left: 0;
	top: 0;
	right: 0;

	background-color: $green;
	text-align: center;
	line-height: rem-calc(48px);

	> a{
		display: block;
		width: 33%;
		float: left;

		&.previous-button{
			text-align: left;
			padding-left: $column-gutter / 2;
		}

		&.next-button{
			text-align: right;
			padding-right: $column-gutter / 2;
		}
	}



	i{
		color: #fff;
		position: relative;
		top: rem-calc(4px);
	}
}

	.ref{
		clear: both;
		background-color: #404040;
			padding: 1em;
			display: block;
			text-transform: uppercase;
			padding-bottom: 1em;
			font-size: .8em;
			color: $green;

			a{
				color: #fff;
			}
		}

	.job-desc{
		padding-top: rem-calc(44px);
		display: table-cell;
		vertical-align: middle;
		padding-bottom: 3em;



		h2{
			font-family: "Playfair Display";
		}

		h3{

		}
	}

	.job-work{
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: #eee;

		h2{
			font-family: "Playfair Display";
			text-align: center;
		}

		h3{
			font-family: "Raleway";
			text-align: center;
		}
	}

	@media #{$medium-up}{
		.job-work{
		padding: 1em;

		width: 100%;
		overflow-y: scroll;

		background-color: #f8f8f8;
		position: relative;

		h2{
			font-family: "Playfair Display";
			margin-bottom: 1em;
		}

		.scroller{
			clear: both;
		}

		img{
			max-width: 100%;
		}

		

			h3{
				font-family: "Raleway"
			}

			.next-title{
				text-align: left;
			}

		.work{
			float: left;
			max-width: 300px;
			text-align: center;
			border-right: 1px solid #eee;
			padding: 0;
		}
	}
	}

	.hamburger-cross-button{
		position: absolute;
		top: -1em;
		right: 1em;
	}
}

.hamburger-cross-button{
	width: 44px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: .5s $easeInOutExpo;
  cursor: pointer;

  span{
  	display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background: $red;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);

		transition: .25s $easeInOutExpo;
	
		&:nth-child(1) {
		  top: 0px;
		  transform-origin: left center;
		}

		&:nth-child(2) {
		  top: 18px;
		  transform-origin: left center;
		}

		&:nth-child(3) {
		  top: 36px;
		  transform-origin: left center;
		}
  }

  &.open{
  	span{
  		&:nth-child(1) {
			  transform: rotate(45deg);
			  top: 0px;
			  left: 0px;
			}

			&:nth-child(2) {
			  width: 0%;
			  opacity: 0;
			}

			&:nth-child(3) {
			  transform: rotate(-45deg);
			  top: 31px;
			  left: 0px;
			}
  	}
  }
}

.reveal-modal,
.reveal-modal-bg{

	max-width: 100%;

	opacity: 0;
	transform: scale(.9);
	transition: all .3s $easeOutExpo;

	&.in{
		opacity: 1;
		transform: scale(1);
		visibility: visible;
		display: block;
	}

	.close{
		position: absolute;
	}
}

section{
	margin-bottom: 4em;
}

section.profile{
	height: 105%;
	width: 100%;

	margin-bottom: 0;

	position: relative;
	z-index: 98;

	background: $blue;

	background: url(../images/city.jpg) no-repeat center center; 
  background-size: cover;

  display: table;

  .table-cell{
  	text-align: center;
  	display: table-cell;
  	vertical-align: middle;
  }

  svg{
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;

  	polygon{
  		fill: red;
  	}
  }

  .me{

		padding-bottom: rem-calc(44px);

		

  	background: rgba(0,0,0,0.7);
		background: -moz-linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-gradient(bottom top, right top, color-stop(0%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: -ms-linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );

		h1{
			font-family: "Raleway";
			font-size: rem-calc(50px);
			line-height: 1;
			text-transform: uppercase;

			// transform: rotate(-10deg) skewX(-10deg);
			padding-bottom: rem-calc(30px);
		}

		h1,
		p, em{
			color: #fff;
			font-family: "Playfair Display";
			font-weight: 400!important;
		}

		a{
			color: #fff;

			-webkit-animation-name: Floatingx;
	    -webkit-animation-duration: 2s;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-timing-function: ease-in-out;
	    -moz-animation-name: Floating;
	    -moz-animation-duration: 2s;
	    -moz-animation-iteration-count: infinite;
	    -moz-animation-timing-function: ease-in-out;
		}

		@media #{$large-up}{
			h1{
				font-size: rem-calc(120px);
			}

			img.logo{
				width: 128px;
				height: auto;
			}
		}
  }

	.contact{
		position: absolute;
		left: 0;
		top: 1em;

		.button.clear{
			border-color: #fff;

			margin-bottom: rem-calc(10px);
			width: rem-calc(40px);
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}
}
 
section.intro{
	height: 115%;
	display: table;
	background-color: $green;
	margin-bottom: 5em;
	position: relative;
	z-index: 9;

	&:after{
		content: "";
		display: block;
		width: 100%;
		height: rem-calc(33px);
		background: url(../images/repeater-2.gif) repeat-x left bottom;
		position: absolute;
		left: 0;
		right: 0;
		bottom: rem-calc(-33px);
		@include image-2x('../images/repeater.gif', 64px, 33px);
	}

	font-family: "Playfair Display";
	p{
		font-size: rem-calc(18px);

		@media #{$large-up}{
			font-size: rem-calc(36px);
			width: $row-width;
			margin: 0 auto;
		}
	}

	>.row{
		display: table-cell;
		vertical-align: middle;
	}
}



section.employment,
section.education{
	.band{
		padding-top: 1em;
		padding-bottom: 1em;
		position: relative;

		&:nth-child(even){
			background-color: #efe9dc;
		}

		p.pre-title{
			margin-bottom: 0;
			color: $third-color;
		}

		h3{
			margin: 0;
			padding-right: 2em;
		}

		h4{
			font-size: 1em;
			opacity: .5;
		}
	}
}

section.education{
	h4{
		font-size: .8em;
	}
}

section.employment{
	.job{
		cursor: pointer;
		transition: all .3s $easeOutExpo;
		position: relative;

		&:hover{
			transform: scale(1.02);
		}

		.info-button{
			background: $primary-color;
			color: #fff;
			position: absolute;
			
			width: 2em;
			line-height: 2em;

			display: block;

			border-radius: 1em;

			top: 50%;
			margin-top: -1em;
			
			right: 1em;
			text-align: center;
		}
	}
}

section.skills{

	@media #{$large-up}{
		padding: 5em 0;
	}

	ul {
		li{

			cursor: default;

			font-size: 1.2em;
			margin: 0;
			display: inline-block;
			padding: 3px 5px;
			background-color: $green;
			margin: 3px;

			transition: background-color 2s $easeOutExpo;

			&:hover{
				background-color: #8fbe00;
			}
		}
	}
} 

section.value{
	background-color: #00a8c6;
	padding: 5em 0;
	position: relative;

	h2{
		color: #0d6170;
	}

	@media #{$large-up}{
		.point{
			padding: 2em 0;
		}
	}

	.point:last-child hr{
		display: none;
	}

	hr{
		opacity: .4;
	}

	&:before,
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: rem-calc(22px);
		background: url(../images/blue-repeater.gif) repeat-x left bottom;
		background-size: 46px 22px;
		position: absolute;
		left: 0;
		right: 0;

		@include image-2x('../images/blue-repeater@2x.gif', 46px, 22px);
	}

	&:before{
		top: rem-calc(-22px);
	}

	&:after{
		bottom: rem-calc(-22px);
		transform: scaleY(-1);
	}
}

section.contact{
	background-color: $green;
	margin-bottom: 0;
	padding: 5em 0 0;
	position: relative;

	&:before{
		content: "";
		display: block;
		width: 100%;
		height: rem-calc(33px);
		background: url(../images/repeater-2.gif) repeat-x left bottom;
		background-size: 64px 33px;
		position: absolute;
		top: rem-calc(-33px);
		left: 0;
		right: 0;

		transform: scaleY(-1);
	}

	.small.clear.button{
		color: #59720b;
		border-color: #59720b;
		border-radius: 2px;
	}
}

footer.footer{
	background-color: $green;
	padding-bottom: rem-calc(44px);
}


