<div class="modal-bar">
	<a ng-click="prev()" class="control previous-button"><i class="fa fa-arrow-left fa-2x"></i> <span class="hide-for-small">{{ prevTitle }}</span></a>
	<a ng-click="$close()" class="close-button"><i class="fa fa-times fa-2x"></i></a>
	<a ng-click="next()" class="control next-button"><i class="fa fa-arrow-right fa-2x"></i></a>
</div>
<div class="scroll" ng-keydown="keypressed()">
	<div class="work-detail">
		<div class="job-desc row">
			<div class="small-12 columns">
				<h3>{{ job.company }}</h3>
				<h2>{{ job.title }}</h2>
				<p>{{ job.when }}</p>
				<div class="desc" ng-bind-html="job.descSafe"></div>
			</div>
		</div>

		<div class="job-work" ng-show="job.work">
			<div class="scroller">
				<h2 class="next-title">Some of my work from here</h2>
				<div ng-repeat="work in job.work"  class="work" work-tile ng-class="{ 'show-info' : hovering }">
					<div class="info row small-12 columns">
						<h3>{{ work.title }}</h3>
						<hr class="show-for-small">
					</div>
					<img ng-show="work.img" ng-src="images/work/{{ work.img }}" alt="">
					<div class="clearfix"></div>
					<div class="small-12 columns extra-info">
						<p>{{ work.desc }}</p>
						<a ng-show="work.link" ng-href="{{ work.link }}" target="_blank" class="small button"><i class="fa fa-square-share-o"> See</i></a>
					</div>
			</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<span class="ref">reference: <a ng-repeat="ref in job.ref" href="{{ ref.link }}">{{ ref.name }} &bull;</a></span> 
	</div>
</div>

<!-- <a hamburger-button open="true" callback="$close()"></a> -->