<div class="modal-bar">
    	<a ng-click="previousWork()" class="control previous-button"><i class="fa fa-arrow-left fa-2x"></i></a>
    	<a ng-click="$close()" class="close-button"><i class="fa fa-times fa-2x"></i></a>
    	<a ng-click="nextWork()" class="control next-button"><i class="fa fa-arrow-right fa-2x"></i></a>
    </div>
    <div class="scroll">
    	<div class="job-desc row">
				<div class="small-12 columns">
					<h3>{{ job.company }}</h3>
					<h2>{{ job.title }}</h2>
					<p>{{ job.when }}</p>
					<div class="desc" ng-bind-html="job.desc"></div>
				</div>
			</div>

			<div class="job-work">
				<h2 class="small-12 columns">Some of my work here</h2>
				<div class="scroller">
					<div ng-repeat="work in job.work"  class="work" horizontal-scroll>
						<div class="info row small-12 columns">
							<h3>{{ work.title }}</h3>
							<hr>
						</div>
						<img ng-show="work.img" src="images/work/{{ work.img }}" alt="">
				</div>
				</div>
			</div>

			<span class="ref">ref: <a ng-repeat="ref in job.ref" href="{{ ref.link }}">{{ ref.name }} &bull;</a></span> 
    </div>

<!-- <a hamburger-button open="true" callback="$close()"></a> -->