<nav class="menu" ng-cloak>
  <a ng-click="$close()" hamburger-button open="true"></a>
  <ul>
    <li><a href="goTo('profile')">Profile</a></li>
    <li><a ng-click="goTo('intro')">A word from me</a></li>
    <li><a ng-click="goTo('employment')">Employment History</a></li>
    <li><a ng-click="goTo('value')">What I can bring to your team</a></li>
    <li><a ng-click="goTo('skills')">A shortlist of my skills</a></li>
    <li><a ng-click="goTo('education')">What &amp; where I've learnt</a></li>
    <li><a ng-click="goTo('contact')">Let's work together</a></li>
  </ul>

  <footer>
    <p>&copy; Harley '14 &bull
      <a href="tel:+61422808381" class="fa fa-phone"></a>
      <a href="mailto:harley@baffleinc.com" class="fa fa-envelope"></a>
      <a href="http://www.linkedin.com/profile/view?id=124411655" class="fa fa-linkedin"></a>
    </p>
  </footer>
</nav>