<!doctype html>
<html class="no-js" lang="en" ng-app="harley">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume of Harley Alexander</title>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Raleway:600,500,300,700' rel='stylesheet' type='text/css'>
    <!-- build:css css/libraries.min.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="css/app.prefixed.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild -->
    <!-- build:js js/vendor/modernizr.min.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-controller="MainController" ng-class="{ 'loaded': bgLoaded }">

    <div class="preload"></div>

    <!-- <nav-menu></nav-menu> -->

    <nav class="bar" ng-class="{ 'scrolled' : showBar, 'visible' : barVisible }">
      <!-- <a ng-click="openMenu()" class="fa fa-bars show-for-large-up desktop-menu-button"></a> -->
      <a ng-click="openMenu()" class="show-for-large-up desktop-menu-button">menu</a>
      <div class="row">
        <div class="small-12 columns">
          <strong>Harley Alexander</strong>
            <!-- <a ng-click="toTheTop()" class="fa fa-chevron-up"></a> -->
            <a href="tel:+61422808381" class="fa fa-phone hide-for-large-up"></a>
            <a href="mailto:harley@baffleinc.com" class="fa fa-envelope hide-for-large-up"></a>
            <!-- <a href="http://www.linkedin.com/profile/view?id=124411655" class="fa fa-linkedin"></a> -->
            <a ng-click="openMenu()" class="fa fa-bars hide-for-large-up"></a>

          <span class="right show-for-large-up info">
            0422 808 381 &bull; <a href="mailto:harley@baffleinc.com"><i class="fa fa-envelope"></i></a> 
            
          </span>
        </div>
      </div>
    </nav>

    <!-- <img src="images/city.jpg" du-parallax y="Background"> -->

    <section class="profile" id="profile" preload-background url="images/city.jpg" loaded="'hello'">
      <div class="contact">
        <div class="row">
          <div class="small-12 columns buttons">
            <!-- <a href="tel:+61422808381" class="small clear button radius"><i class="fa fa-phone"></i></a> 
            <a href="mailto:harley@baffleinc.com" class="small clear button radius"><i class="fa fa-envelope"></i></a>  -->
            <a href="http://www.linkedin.com/profile/view?id=124411655" target="_blank" class="small clear button radius"><i class="fa fa-linkedin"></i></a> 
          </div>
        </div>
    
      </div>
      <div class="table-cell me">
        <div class="row">
          <div class="small-12 columns">
            <img src="images/logo.png" alt="" class="logo" width="64px" height="64px" spinning-logo class="intro-logo">
            <h1>Harley Alexander</h1>
            <p><em>User Experience Designer<br>
              Digital &amp; Print Designer<br>
              Front-end Developer</em></p>
            <p><a class="fa fa-angle-down fa-2x hover" du-smooth-scroll href="#intro"></a></p>
          </div>
        </div>
        
      </div>
    </section>

    <section class="intro" id="intro">
      <div class="row">
        <div class="small-12 columns">
          <p class="text-center">

            What's up, I'm Harley! I'm a Melbourne based hybrid designer-developer with a passionate focus on UXD. I love creating a seamless experience with gorgeous design. I've been doing so for around seven years on a variety of projects. For the past three years, I've been with some of Australia's leading startups delivering their digital products. <a href="http://www.goodreads.com/book/show/8185535-how-to-be-a-rockstar-wordpress-designer" target="_blank">I co-authored a book on WordPress <span class="hide-for-small-only">Design</span>.</a><br class="show-for-large-up"> I also have marketing experience, having worked in a fast-paced marketing agency. I want to focus my career down the path of product design.</p>
            <p class="text-center"><a class="fa fa-angle-down fa-2x hover" du-smooth-scroll href="#employment"></a></p>
        </div>
      </div>
    </section>

    <section class="employment" id="employment">
      <div class="row">
        <h2 class="small-12 columns">Employment History</h2>
      </div>
      <div ng-repeat="job in employment" ng-click="showJob($index)" class="job band row {{ slug(job.company) }}">
        <div class="small-12 columns">
          <p class="pre-title">{{ job.company }}</p>
          <h3>{{ job.title }}</h3>
          <h4>{{ job.when }}</h4>
        </div>
    
          <a class="info-button"><i class="fa fa-align-left"></i></a>
      </div>

    </section>
<hr>
    <section class="skills" id="skills">
      <div class="row">
        <div class="small-12 columns">
          <h2>A shortlist of my skills</h2>
          <ul class="no-bullet">
            <li ng-repeat="skill in skills" class="{{ slug(skill.name) }}">
              <div class="table">
                <span>{{ skill.name }}</span>  
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="value" id="value">
      <div class="row">
        <h2 class="small-12 columns">What can I bring to your team?</h2>
      </div>
      <div ng-repeat="point in points" class="point row">
        <div class="small-12 large-7 columns">
          <h3>{{ point.title }}</h3>
          <p>{{ point.desc }}</p>
        </div>
      </div>
    </section>

    <section class="education" id="education">
      <div class="row">
        <h2 class="small-12 columns">Education</h2>
      </div>
      <div ng-repeat="edu in education" class="band row">
        <div class="small-12 columns">
          <p class="pre-title">{{ edu.location }}</p>
          <h3>{{ edu.name }}</h3>
          <h4>{{ edu.subtitle }}</h4>
        </div>
      </div>
    </section>
 <hr>
    <section class="links" id="links">
     
      <div class="row">
        <div class="small-12 columns">
          <h2>Some links to boot</h2>
          <a ng-repeat="link in links" ng-href="{{ link.url }}" target="_blank">{{ link.name }}</a>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="row">
        <div class="small-12 columns">
          <h2>Let's work together!</h2>
          <p>I'm pretty friendly, and don't bite. Feel free to give me a call. If you're feeling shy, shoot me an email!</p>
          <a href="tel:+6422808381" class="small clear button"><i class="fa fa-phone"></i></a>
          <a href="mailto:harley@baffleinc.com" class="small clear button"><i class="fa fa-envelope"></i></a>
          <a href="http://www.linkedin.com/profile/view?id=124411655" class="small clear button"><i class="fa fa-linkedin"></i></a>
          <a href="images/harley.vcf" class="small clear button"><i class="fa fa-download"></i></a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          <p><img spinning-logo src="images/green-logo.png" width="64px" height="64px" alt=""></p>
        </div>
      </div>
    </footer>

    <!-- build:js js/vendor/libraries.min.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/ng-parallax/angular-parallax.min.js"></script>
    <script src="bower_components/angular-parallax/scripts/angular-parallax.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/app.min.js -->
    <script src="bower_components/angular-foundation/mm-foundation.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <!-- endbuild -->
  </body>
</html>